body {
	background: 
		linear-gradient(
			rgba(17, 126, 0 ,0.75),
			rgba(0, 88, 255, 0.45)
			),
		/*add background image*/
		url(./bg.jpg);

		background-size:  cover;
		background position: top;
		background-repeat: no-repeat;

	}

main{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	}

.txt{
	color: #efefef;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px 15px	#000000;
	}

.profpic{
	height: 125%;
	width: 30%;
	border-radius: 50%;
	}

hr{
	height: 2px;
	background-color: #00BCD4;
	margin:1.5rem 0;
	}

.job-title{
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: bolder; 
}

#accordionExample{
	width: 100%;
	text-decoration: none;
}

.collapsed{
	font-weight: bolder; 
}

.social-media a {
	color: #efefef;
	margin:0.5rem;
	opacity: .75;
}

.social-media a:hover{
	opacity: 1;
}

.thumbnail {
	width:10%;
}

@media screen and (max-width: 980px){

	.profpic{
		height: 80%;
		width: 30%;
		border-radius: 50%;
	}

}

@media screen and (max-width: 425px) {
	.profpic{
		height: 20%;
		width: 50%;
		border-radius: 50%;
	}
}


/*
@media(max-width: 980px){
	.container{
		flex-direction: column;
	}

	.image-container{
		width: 100%;
		padding: 3rem 0 0;
	}

	.overview{
		order:1;
		padding: 3rem 0;
	}

	

	.fullname, .job-title{
		text-align: center;
	}

	.job-title{
		font-weight: bolder;
	}

	.description{
		text-align: center;
	}

	hr{
		margin:auto;
	}

	.social-media{
		text-align: center;
		margin-top: 3rem;
	}

	.ad{
		text-align: center;
	}

	.works{
		text-align: center;
	}
}*/